<section class="footer">
    <div class="web-desc">
        <h2>LOGO</h2> 
        <p>Description about this website and information </p>
    </div>
    <div> 
        <% if(locals.characters){ %>
        <h4>Top Character</h4>
        <% for(var i = 0; i <= 6; i++){ %> 
            <a href=""><%= characters.data[i].name %></a>
        <% } %>
    </div>
    <% } %>
    
    <div>
        <h4>Category</h4>
        
            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="1">
                <input type="text" name="name" hidden value="Action">
                <input class="footer-link" type="submit" value="Action" formaction="/search">
            </form>

            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="2">
                <input type="text" name="name" hidden value="Adventure">
                <input class="footer-link" type="submit" value="Adventure" formaction="/search">
            </form>

            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="8">
                <input type="text" name="name" hidden value="Drama">
                <input class="footer-link" type="submit" value="Drama" formaction="/search">
            </form>

            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="10">
                <input type="text" name="name" hidden value="Fantasy">
                <input class="footer-link" type="submit" value="Fantasy" formaction="/search">
            </form>

            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="22">
                <input type="text" name="name" hidden value="Romance">
                <input class="footer-link" type="submit" value="Romance" formaction="/search">
            </form>
        
            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="14">
                <input type="text" name="name" hidden value="Horror">
                <input class="footer-link" type="submit" value="Horror" formaction="/search">
            </form>

            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="24">
                <input type="text" name="name" hidden value="Sci-Fi">
                <input class="footer-link" type="submit" value="Sci-Fi" formaction="/search">
            </form>

            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="36">
                <input type="text" name="name" hidden value="Slice of Life">
                <input class="footer-link" type="submit" value="Slice of Life" formaction="/search">
            </form>

            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="30">
                <input type="text" name="name" hidden value="Sports">
                <input class="footer-link" type="submit" value="Sports" formaction="/search">
            </form>
    </div>

    <div>
        <h4>Source Information</h4>
        <a href="https://myanimelist.net/">MyAnimeList</a>
        <a href="https://jikan.moe/">JIKAN API</a>
        
        
    </div>

    <div class="line"><hr /></div>
    <div class="copyright"><p>Copyright © 2025 by Zeki. All Rights Reserved.</p></div>
</section>

</main>
</body>
</html>