<section class="footer">
    <div class="web-desc">
        <h2><img src="/images/logo.png" height="75px"> </h2> 
        <p>Hiiiii, <br>this website aims to implement the skills I learned and I hope it can be useful in the future, there are still many things that need to be fixed but I have tried my best, it took me about 8 days to make this hahahaha, I think I'm still at the beginning of my journey to become a full stack web developer, hopefully you can enjoy it Byeeee.
            for the data used comes from the JIKAN API and there are some data that are stored in local json because there are too many requests to the server.</p>
    </div>
    <div class="topChar"> 
        <% if(locals.characters){ %>
        <h4>Top Character</h4>
        <% for(var i = 0; i <= 6; i++){ %> 
            <a href="#"><%= characters.data[i].name %></a>
        <% } %>
    </div>
    <% } %>
    
    <div>
        <h4>Category</h4>
        
            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="1">
                <input type="text" name="name" hidden value="Action">
                <input class="footer-link" type="submit" value="Action" formaction="/search">
            </form>

            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="2">
                <input type="text" name="name" hidden value="Adventure">
                <input class="footer-link" type="submit" value="Adventure" formaction="/search">
            </form>

            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="8">
                <input type="text" name="name" hidden value="Drama">
                <input class="footer-link" type="submit" value="Drama" formaction="/search">
            </form>

            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="10">
                <input type="text" name="name" hidden value="Fantasy">
                <input class="footer-link" type="submit" value="Fantasy" formaction="/search">
            </form>

            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="22">
                <input type="text" name="name" hidden value="Romance">
                <input class="footer-link" type="submit" value="Romance" formaction="/search">
            </form>
        
            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="14">
                <input type="text" name="name" hidden value="Horror">
                <input class="footer-link" type="submit" value="Horror" formaction="/search">
            </form>

            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="24">
                <input type="text" name="name" hidden value="Sci-Fi">
                <input class="footer-link" type="submit" value="Sci-Fi" formaction="/search">
            </form>

            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="36">
                <input type="text" name="name" hidden value="Slice of Life">
                <input class="footer-link" type="submit" value="Slice of Life" formaction="/search">
            </form>

            <form id="myForm" method="post">
                <input type="number" name="genreId" hidden value="30">
                <input type="text" name="name" hidden value="Sports">
                <input class="footer-link" type="submit" value="Sports" formaction="/search">
            </form>
    </div>

    <div>
        <h4>Source Information</h4>
        <a href="https://myanimelist.net/">MyAnimeList</a>
        <a href="https://jikan.moe/">JIKAN API</a>
        
        
    </div>

    <div class="line"><hr /></div>
    <div class="line"><p>Copyright © 2025 by Zeki. All Rights Reserved.</p></div>
</section>

</main>
<script> </script>
</body>
</html>