<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Domine:wght@400..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<main class="main-container">
    <section class="headers">
        <div class="left ">
        <ul>
            <li class="active" >
                <a href="/">LOGO</a> </li>
        </ul>        
        <ul class="dropdown navmenu">
            <li>
                <a href="/">Top Anime</a> </li>
                <ul class="dropdown-content">
                    <li><a class="dropdown-item" href="/">All Anime</a></li>
                    <li><a class="dropdown-item" href="/">Airing</a></li>
                    <li><a class="dropdown-item" href="/">Upcoming</a></li>
                    <li><a class="dropdown-item" href="/">Tv Series</a></li>
                    <li><a class="dropdown-item" href="/">Movies</a></li>
        
                </ul>
        </ul>
        <ul class="dropdown navmenu">
            <li><a href="/">Seasonal Anime</a></li>
            <ul class="dropdown-content">
                <li><a class="dropdown-item" href="/">Winter</a></li>
                <li><a class="dropdown-item" href="/">Spring</a></li>
                <li><a class="dropdown-item" href="/">Summer</a></li>
                <li><a class="dropdown-item" href="/">Fall</a></li>
            </ul>
        </ul>
        <ul class="navmenu">
            <li><a href="/category?type=genre">Genre</a></li>
        </ul>
        <ul class="navmenu">
            <li><a href="/category?type=release-year">Year</a></li>
        </ul>
        </div>
        <div class="right">
            <form role="search">
                <input class="search" type="search" placeholder="Search">
            </form>
        </div>
    </section>













































    <!-- <nav class="navbar navbar-expand-lg" aria-label="Fifth navbar example">
    <div class="container-fluid container-content">
        <a class="navbar-brand" href="/"><img src="/images/cash-stack.svg" height="50px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" data-bs-toggle="dropdown" aria-expanded="false">Top Anime</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">All Anime</a></li>
                    <li><a class="dropdown-item" href="/">Airing</a></li>
                    <li><a class="dropdown-item" href="/">Upcoming</a></li>
                    <li><a class="dropdown-item" href="/">Tv Series</a></li>
                    <li><a class="dropdown-item" href="/">Movies</a></li>
                </ul>
                </li>
            
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" data-bs-toggle="dropdown" aria-expanded="false">Seasonal Anime</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/">Winter</a></li>
                <li><a class="dropdown-item" href="/">Spring</a></li>
                <li><a class="dropdown-item" href="/">Summer</a></li>
                <li><a class="dropdown-item" href="/">Fall</a></li>
            </ul>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/category?type=genre">Genre</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/category?type=release-year">Year</a>
            </li>
        </ul>
        <form role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
        </div>
    </div>
    </nav> -->
