body {
    background-color: #ECE3F8;
    padding: 0;
    margin: 0;
}

* {
    font-family: "Domine", serif;
}

.main-container {
    background-color: #ecdffd;
    width: 1600px;
    display: block;
    margin: auto;
    padding: 0;
}

/* CSS Navbar  */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(236, 223, 253, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 1600px;
    border-bottom: 1px solid #dcc2ff ;
    top: 0;
    z-index: 2 ;
}

.navleft ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
    font-size: 15px;
}

.navleft li a, .dropbtn,  .dropdown-small a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    }

.navleft li a:hover, .dropdown:hover .dropbtn {

    color: #774473;
}

.navleft li.dropdown {
    display: inline-block;
}

.navleft .dropdown-content {
    display: none;
    position: fixed;
    background-color: rgb(236, 227, 248, 0.95);
    backdrop-filter: blur(20px);
    min-width: 150px;
    z-index: 2 ;
}

.dropdown-content-small {
    display: none;
    position: absolute;
    left: 140px;
    top: 0;
    background-color: rgb(236, 227, 248, 0.95);
    backdrop-filter: blur(20px);
    min-width: 150px;
    z-index: 21 ;
}

.navleft ul .logo-menu {
    display: none;
}

.navleft .logo{
    padding: 0;
    margin: 0;
}

.navleft .dropdown-content a, .navleft .dropdown-content-small a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.navleft .dropdown:hover .dropdown-content, .navleft .dropdown-small:hover .dropdown-content-small {
    display: block;
}

.navright {
    padding: 5px;
    right: 100px;
}
.search {
    padding: 15px 25px; 
    
    background-image: url('/images/search-circle.svg');
    background-size: 15%;
    background-position:right;
    background-repeat: no-repeat;

    border: none;
    border-radius: 10px;

    background-color: #dcc2ff; 
}

/* CSS Main content section */

.main-content {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(7, 1fr);
    padding: 6% 5%;
    column-gap: 10px;
    row-gap: 20px;
}

.content-title {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0px 50px;
}

.content-title h1{
    font-size: 4rem;
    overflow: hidden;
    max-height: 220px;
}

.content-title .synopsis {
    overflow: hidden;
    max-height: 53px;
}
span {
    font-size: 0.75rem;
    color: #455078;
}
.score {
    display: flex;
    margin: 20px 0px;
    gap: 20px;
}
.score-button{
    padding: 0px 15px;
    background-color: #2D3284;
    color: #F6F4F7;
    font-size: 1.5rem;
    border: 0px solid;
    border-radius: 5px;
}
.content-title p {
    font-size: 1rem;
}
.content-video {
    grid-column: 4 / span 4;
    text-align: right;
}

.video-box {
    height: 650px;
    width: 95%;
}

.card {
    border: 0px solid #ECE3F8;
    border-radius: 10px ;
    object-fit: cover;
}

.text-title {
    grid-column: span 7;
}

a {
    text-decoration: none;
    color: #774473;
}

a:hover {
    color: #455078;
}


.text-title .filter-type .link-type, .text-title a{
    padding: 15px;
    margin: 0;
}

.text-title .filter-type .link-type:hover{
    background-color: #774473;
    border-radius: 10px;
    color: white;
}

.link-del:hover {
    text-decoration: line-through;
}

.active-link{
    background-color: #774473;
    color: #ECE3F8;
    border-radius: 10px;
}

.filter-type-small {
    display: none;
}

.filtering input, ul.submenu{
    display: none;
    list-style: none;
    margin: 0;
    z-index: 1;
    padding: 0;
    position: absolute;
}
  
.filtering .submenu{
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(236, 227, 248, 0.85);
    
    backdrop-filter: blur(20px);
}

.filtering .submenu a {
    color: black;
    padding: 9px;
}
  
.filtering .submenu li:hover  a{
    background-color: #774473;
    color: #ECE3F8;
    border-radius: 10px;
}
  
/*position the label*/
.filtering label {
    position: relative;
    cursor: pointer;
    padding: 5px;
    background-color: #774473;
    color: #ECE3F8;
    border-radius: 10px 10px 0px 0;
    display: flex;
    align-content: center;
}
  
/*show the submenu when input is checked*/
.filtering input:checked~ul.submenu {
    display: block;
}


.title-featured {
    border: none;
    border-left: 5px solid #774473;
    padding-left: 10px;
    font-weight: bolder;
    text-transform: capitalize;
}
.card-film {
    display: flex;
    flex-direction: column;
}
.card-film .card-img{
    transition: transform .2s; /* Animation */
    overflow : hidden;
    position: relative;
    color: white;
}

.card-img img {
    max-height: 300px;
    min-height: 300px;
    width: 98%;
}

.card-img:hover {
    transform:scale(1.5);
    z-index: 1;
}

.card-img:hover .centered{
    bottom: 5px;
    display: block;
}
.card-img:hover .text2 , .card-img:hover .text3 {
    display: block;
}
.card-img:hover img {
    filter: brightness(50%);
}
.card-img .text1{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    font-size: 12px; 
    border-radius: 10px 0 0 0;
    background-color: #774473;
    
}
.card-img .centered {
    display: none;
    position: absolute;
    font-size: 10px;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
  }

.card-img .text2 {
    position: absolute;
    display: none;
    font-size: 20px;
    bottom: 5px;
    right: 6px;
    padding: 5px;
    transition: bottom 1s;
    border-radius: 0 0 10px 0;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  }

.card-img .text3{
    position: absolute;
    display: none;
    bottom: 4px;
    left: 0px;
    padding: 5px;
    font-size: 12px; 
    border-radius: 0px 0 0 10px;
    background-color: #774473;
    
}

.card-img .text4{
    position: absolute;
    top: 0px;
    right: 4px;
    padding: 5px;
    font-size: 8px; 
    border-radius: 0 10px 0 0;
    background-color: #774473;
    
}

.card-film p{
    font-size: 12px; 
    margin-bottom: 0px;
    color: #455078;
}

h4{
    font-size: 16px;
    font-weight: bold;
    height: 18px;
    overflow: hidden;
}

.line {
    grid-column: span 7;
    color: #455078;
}

.button-featured {
    background-color: #774473; 
    color: white;
    border-radius: 10px;
}

.text-title .button-featured:hover {
    background-color: #2D3284; 
    color: white;
    border-radius: 10px;
}


.filtering {
    display: flex; 
    font-size: 15px; 
    justify-content: space-between;
}
/* CSS footer */
.footer {
    display: grid;
    width: 95%;
    grid-template-columns: 50% 1fr 1fr 1fr;
    padding: 0 5%;
    column-gap: 10px;
    row-gap: 20px;
}
.web-desc{
    width: 50%;
}

.footer a{
    display: flex;
    flex-direction: column;
    color: #774473;
    margin-bottom: 10px;
    font-size: 14px;
}


.footer-link{
    color: #774473;
    background-color: #ecdffd;
    border: 0px;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-link:hover, .footer a:hover{
    color:#2D3284;
}

.footer p {
    font-size: 13px;
    color: #455078;
}

/* Css Category */

.category {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    padding: 5% 5%;
    column-gap: 10px;
    row-gap: 10px;
}

.category-type {
    grid-column: span 4;
}

.content-category {
    padding: 15px;
    font-size: 20px;
    width: 100%;
    text-align: left;
    background-color: #2D3284;
    color: #F6F4F7;
    border: 0px solid;
    border-radius: 10px;
}

.content-category:hover {
    background-color: #774473;
}

.gen {
    margin-top: 50px;
}

/* CSS Page View */
.view-content {
    display: grid;
    width: 95%;
    grid-template-columns: 350px 1fr 1fr;
    padding: 5%;
    column-gap: 50px;
    row-gap: 20px;
}

.view-content .video {
    grid-column: span 3;
    text-align: center;
}

.video .vid {
    width: 95%;
    height: 800px;
}

.view-content .cover img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    object-fit: cover;
}

.content-title .rating, .episodes .rating, .text-title .rating{
    font-size: 0.8rem;
    color: #455078;
}

.view-content .cover-desc {
    right: 0;
    width: 80%;
    align-content: center;
}

.episodes {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr;
    border: 0px solid;
    padding: 5%;
}

.episodes .head {
    width: 50%;
}

.episodes .table {
    display: grid;
    width: 50%;
    grid-template-columns: 0.5fr 5fr 1fr;
    height: 350px;
    overflow: scroll;
}
.episodes .block {
    padding: 20px;
}

.episodes .color {
    background-color: #774473;
    color: #F6F4F7;
}

.episodes .color1 {
    padding-top: 10px;
    color: white;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgb(39, 56, 90, 1); /* Black w/opacity/see-through */
}

.episodes .color2 {
    
    padding-top: 10px;
    color: #F6F4F7;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgb(39, 56, 90, 0.4); /* Black w/opacity/see-through */
}


.episodes .poin {
    text-align: center;
}

/* Error handling */

.error {
    text-align: center; 
    font-size: 3rem; 
    color: black; 
    font-weight: bolder;
}
@media (max-width: 1600px) {

    .main-container {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }


}


@media (max-width: 1200px){

    .main-content {
        padding: 5% 2%;
        grid-template-columns: repeat(5, 1fr);
    }
    .content-title {
        grid-column: span 5;
    }

    .content-video {
        grid-column: span 5;
    }

    .text-title {
        grid-column: span 5;
    }

    .line {
        grid-column: span 5;
    }

    .card-img img {
        max-height: 300px;
        min-height: 300px;
    }

    .footer {
        padding: 0 2%;
    }
    .web-desc {
        width: 80%;
    }

    .category {
        padding: 5% 2%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .category-type {
        grid-column: span 3;
    }

    .view-content {
        padding: 5% 2%;
        grid-template-columns: 350px 1fr;
    }

    .view-content .video {
        grid-column: span 2;
    }


    .cover-desc {
        grid-column: span 2;
    }
    .video-box {
        height: 450px;
    }



}
@media (max-width: 800px){
    .navbar{
        position: relative;
    }
    .menu {
        display: none;
    }

    .navleft ul .logo-menu {
        display: block;
    }
    
    .main-content {
        padding: 5% 1%;
        grid-template-columns: repeat(4, 1fr);
    }
    .content-title {
        grid-column: span 4;
        margin: 0;
    }

    .content-video {
        grid-column: span 4;
    }

    .text-title {
        grid-column: span 4;
    }

    .line {
        grid-column: span 4;
    }

    .card-img img {
        max-height: 250px;
        min-height: 250px;
    }
    .footer {
        padding: 0 1%;
    }
    .web-desc {
        width: 90%;
    }
    .category {
        padding: 5% 1%;
        grid-template-columns: 1fr 1fr;
    }
    .category-type {
        grid-column: span 2;
    }
    
    .filter-type {
        display: none;
    }

    .filter-type-small {
        display: block;
    }

    .cover {
        grid-column: span 2;
        width: 50%;
    }

    .cover-rating {
        grid-column: span 2;
    }
    .episodes {
        padding: 5% 1%;
    }
    .episodes .table {
        width: 100%;
    }

    .cover img {
        height: 300px;
    }

    .video .vid{
        height: 600px;
    }

    
   
}

@media(max-width: 500px){
    
    .main-content {
        padding: 5% 0.5%;
        grid-template-columns: repeat(3, 1fr);
    }
    .content-title {
        grid-column: span 3;
        margin: 0;
    }

    .content-video {
        grid-column: span 3;
    }

    .text-title {
        grid-column: span 3;
    }

    .line {
        grid-column: span 3;
    }

    .card-img img {
        max-height: 200px;
        min-height: 200px;
        width: 98%
    }

    .footer {
        padding: 0 0.5%;
    }

    .web-desc {
        width: 100%;
    }

    .topChar {
        display: none;
    }

    .video .vid{
        height: 400px;
    }

    .video-box {
        height: 250px;
    }


}