body {
    background-color: #ECE3F8;
    padding: 0;
    margin: 0;
    font-family: "Domine", serif;
}

.main-container {
    width: 1800px;
    margin: auto;
    padding: 0;
}

.headers {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: aqua;
    justify-content: space-between;
}

.headers ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

.headers li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}


.headers li a:hover:not(.active) {
    background-color: antiquewhite;
    color: #333;
  }

  .active {
    background-color: teal;
    color: #333;
  }

.headers .left {
    display: flex;
}

.headers .right {
    padding: 8px 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

.search {
    padding: 10px 25px; 
    
    background-image: url('/images/cash-stack.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;

    border: none;
    border-bottom: 2px solid #333;

    width: 50%;
    transition: width 0.4s ease-in-out;
}

.search:focus {
    width: 100%;
    background-color: #333;
    color: white;
    border-bottom: 2px solid white;
}

/* CSS Main content section */

.main-content {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(7, 1fr);
    padding: 50px;
    column-gap: 10px;
    row-gap: 20px;
}

.content-title {
    grid-column: span 3;
    text-align: left;
    overflow-wrap: break-word;
    margin: 0px 50px;
}

.content-title h1{
    font-size: 4rem;
}

span {
    font-size: 0.75rem;
    color: #455078;
}
.score {
    display: flex;
    margin: 20px 0px;
    gap: 20px;
}
.score-button{
    padding: 0px 15px;
    background-color: #2D3284;
    color: #F6F4F7;
    font-size: 1.5rem;
    border: 0px solid;
    border-radius: 5px;
}
.content-title p {
    font-size: 1rem;
}
.content-video {
    grid-column: 4 / span 4;
    text-align: right;
}

.video-box {
    height: 680px;
    width: 95%;
}

.card {
    border: 0px solid #ECE3F8;
    border-radius: 10px ;
    object-fit: cover;
}

.text-title {
    grid-column: span 7;
}

a {
    text-decoration: none;
    color: #455078;
}

a:hover {
    color: #774473;
}

.title-featured {
    border: none;
    border-left: 5px solid #774473;
    padding-left: 10px;
    font-weight: bolder;
}

.card-img{
    transition: transform .2s; /* Animation */
    overflow : hidden;
    position: relative;
    color: white;
}

.card-img:hover {
    right: 50px;
    transform:scale(1.5);
}

.card-img:hover .text2 ,.card-img:hover .centered  {
    bottom: 5px;
    right: 6px;
    display: block;
    
}
.card-img:hover img {
    filter: brightness(50%)
}

.card-img .text1{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    font-size: 12px; 
    border-radius: 10px 0 0 0;
    background-color: #774473;
    
}
.card-img .centered {
    display: none;
    position: absolute;
    font-size: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.card-img .text2 {
    position: absolute;
    display: none;
    font-size: 20px;
    bottom: -10px;
    right: 6px;
    padding: 5px;
    transition: bottom 1s;
    border-radius: 0 0 10px 0;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  }



.card-film p{
    font-size: 12px; 
    margin-bottom: 0px;
    color: #455078;
}

h4{
    font-size: 16px;
    font-weight: bold;
}

.line {
    grid-column: span 7;
    color: #455078;
}
.button-featured {
    font-size: 0.8rem; 
    padding: 10px; 
    background-color: #774473; 
    color: white; 
    border: none; 
    border-radius: 10px; 
    right: 50px;
}

.button-featured:hover{
    background-color: rgb(39, 56, 90, 1); /* Black w/opacity/see-through */
}

/* CSS footer */
.footer {
    display: grid;
    width: 95%;
    grid-template-columns: 50% 1fr 1fr 1fr;
    padding: 0 50px;
    column-gap: 10px;
    row-gap: 20px;
}
.web-desc{
    width: 50%;
}

.footer a{
    display: flex;
    flex-direction: column;
    color: #774473;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer p {
    font-size: 13px;
    color: #455078;
}

/* Css Category */

.category {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    padding: 50px 50px;
    column-gap: 10px;
    row-gap: 10px;
}

.category-type {
    grid-column: span 4;
}

.content-category {
    padding: 15px;
    font-size: 20px;
    width: 100%;
    text-align: left;
    background-color: #2D3284;
    color: #F6F4F7;
    border: 0px solid;
    border-radius: 10px;
}

/* CSS Page View */
.view-content {
    display: grid;
    width: 95%;
    grid-template-columns: 18% 32% 44%;
    padding: 50px;
    column-gap: 50px;
    row-gap: 20px;
}

.view-content .video {
    grid-column: span 3;
    text-align: center;
}

.view-content .cover img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    object-fit: cover;
}

.cover-rating .rating, .episodes .rating{
    font-size: 0.8rem;
    color: #455078;
}

.view-content .cover-desc {
    right: 0;
    width: 80%;
    align-content: center;
}

.episodes {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr;
    border: 0px solid;
    padding: 50px;
}

.episodes .head {
    width: 50%;
}

.episodes .table {
    display: grid;
    width: 50%;
    grid-template-columns: 0.5fr 5fr 1fr;
    height: 350px;
    overflow: scroll;
}
.episodes .block {
    padding: 20px;
}

.episodes .color {
    background-color: #774473;
    color: #F6F4F7;
}

.episodes .color1 {
    padding-top: 10px;
    color: white;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgb(39, 56, 90, 1); /* Black w/opacity/see-through */
}

.episodes .color2 {
    
    padding-top: 10px;
    color: #F6F4F7;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgb(39, 56, 90, 0.4); /* Black w/opacity/see-through */
}


.episodes .poin {
    text-align: center;
}
@media (max-width: 1600px) {

    .main-container {
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: blueviolet;
        
    }

   
}